* {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: teal;
}

header {
    text-align: center;
    text-shadow: 1px 1px 20px white;
    background-image: url(image/banner2.jpg);
    background-size: cover;
}

nav {
    background-color: blue;
}

section {
    background-color: red;
}

.image-box {
    background-color: pink;
    border: 1px black;
}

img {
    max-width: 100%;
}

main {
    background-color: black;
}

footer {
    background-color: magenta;
}